@model IEnumerable<ProjektZaliczeniowy.Models.Reader>

<table class="table">
    <thead>
        <tr>
            <th><i class="fas fa-user"></i> @Html.DisplayNameFor(model => model.First().FirstName)</th>
            <th><i class="fas fa-user"></i> @Html.DisplayNameFor(model => model.First().LastName)</th>
            <th><i class="fas fa-envelope"></i> @Html.DisplayNameFor(model => model.First().Email)</th>
            <th><i class="fas fa-phone"></i> @Html.DisplayNameFor(model => model.First().PhoneNumber)</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

